# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mod
*_genmod.f90
*.htm
*.manifest
*.rc
*.res
*.ilk
*.pdb
*.lib
*.res
*.tlog
*.idb
*.lastbuildstate
*.XML
*.css
*.xslt
*.gif

# Executables
*.exe
*.out
*.app

# MODFLOW output files
*.hobs
*.cbc
*.hed

MF_NWT/MF_NWT/Release/
MF_NWT/MF_NWT/Debug/

# msds
#*.vfproj
*.vcxproj
*.vcxproj.filters
*.sdf
*.u2d
*.suo
*.VC.db
*.opendb
*.log
msds/gsflow_develop_f/gsflow_develop.opensdf
msds/gsflow_develop_f/gsflow_develop.sln
msds/gsflow_develop_f/x64/Debug/gsflow_develop.exp
msds/gsflow_develop_f/x64/Release/gsflow_develop.exp
/msds/gsflow_develop_f/x64/Release/gsflow_SWI_beta.zip
/msds/gsflow_develop_f/x64/Release/gsflow_SWI_beta.txt
msds/gsflow_develop_f/DLL_GSFLOW/GSFLOW_MODSIM/Release/GSFLOW_MODSIM.exp
msds/gsflow_develop_f/DLL_GSFLOW/GSFLOW_MODSIM/Release/GSFLOW_MODSIM.dll
msds/gsflow_develop/gsflow_develop.opensdf
msds/gsflow_develop_f/DLL_GSFLOW/GSFLOW_MODSIM/GSFLOW_MODSIM.sln
