# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mod
*_genmod.f90
*.htm
*.manifest
*.rc
*.res
*.ilk
*.pdb
*.lib
*.res
*.tlog
*.idb
*.lastbuildstate
*.XML
*.css
*.xslt
*.gif

# Executables
*.exe
*.out
*.app

# MODFLOW output files
*.hobs
*.cbc
*.hed

MF_NWT/MF_NWT/Release/
MF_NWT/MF_NWT/Debug/

# msds
*.sdf
*.u2d
*.suo
*.VC.db
*.opendb
*.log
msds/gsflow_develop_f/gsflow_develop.vfproj.rsregan.user
msds/gsflow_develop_f/Debug/gsflow_develop.exp
msds/gsflow_develop_f/gsflow_develop.opensdf
msds
