# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mod
*_genmod.f90
*.htm
*.manifest
*.rc
*.res
*.ilk
*.pdb
*.lib
*.res
*.tlog
*.idb
*.lastbuildstate
*.XML
*.css
*.xslt
*.gif

# Executables
*.exe
*.out
*.app

# MODFLOW output files
*.hobs
*.cbc
*.hed

MF_NWT/MF_NWT/Release/
MF_NWT/MF_NWT/Debug/

# msds
*.sdf
*.u2d
*.suo
*.VC.db
*.opendb
*.log

# The following lines of gitignore are based on guidance from this stackoverflow post
# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder/
# 
# This ignores entire directories except for pointed exceptions.  The sequence below is important
#msds/*
#!msds/gsflow_develop_f/

#msds/gsflow_develop_f/*
#!msds/gsflow_develop_f/DLL_GSFLOW/

#msds/gsflow_develop_f/DLL_GSFLOW/GSFLOW_MODSIM/*
#!msds/gsflow_develop_f/DLL_GSFLOW/GSFLOW_MODSIM/debug

# Other specific ignores
#

msds/gsflow_develop_f/gsflow_develop.vfproj.rsregan.user
msds/gsflow_develop_f/Debug/gsflow_develop.exp
msds/gsflow_develop_f/gsflow_develop.opensdf
GSFLOW_1.2.2/data/sagehen/output/gsflow.csv
GSFLOW_1.2.2/data/sagehen/output/modflow/sagehen.mf.list
GSFLOW_1.2.2/data/sagehen/output/modflow/sagehen.mfonly.list
GSFLOW_1.2.2/data/sagehen/windows/basinOut.csv
GSFLOW_1.2.2/data/sagehen/windows/basinOut_monthly.csv
GSFLOW_1.2.2/data/sagehen/windows/nsub_test_hortonian_flow.csv
GSFLOW_1.2.2/data/sagehen/windows/nsub_test_soil_moist.csv
GSFLOW_1.2.2/
/msds/gsflow_develop_f/DLL_GSFLOW/GSFLOW_MODSIM/Debug/GSFLOW_MODSIM.dll
/msds/gsflow_develop_f/DLL_GSFLOW/GSFLOW_MODSIM/Debug/GSFLOW_MODSIM.exp
